<h2> Hola,</h2> 
<h4>Hemos recibido su orden con éxito</h4>
<p>Se ha realizado su solicitud con identificador interno {{order.id }}</p>
<p>Descripción: {{prods}}</p>
<br>
<i>Cordialmente, <br>El equipo de Distrito Fitness</i>