
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Distrito Fitness | Inicio</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{{assetsUrl('favicon.png')}}">
	<link rel="icon" href="{{assetsUrl('favicon.png')}}" type="image/x-icon">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	{{ style('css/bootstrap.custom.min.css') }}

    {{ style('css/style.css')}}

	<!-- SPECIFIC CSS -->
	{{ style('css/home_1.css') }}
	{{ style('css/listing.css') }}
    {{ style('css/product_page.css') }}
	{{ style('css/cart.css') }}
	{{ style('css/checkout.css') }}

    <!-- YOUR CUSTOM CSS -->
	{{ style('css/custom.css')}}
	<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div id="float-cta" >
    <span>Envianos un mensaje</span>
    <a href="javascript:void(0);">
      <img class="img -responsive" width="50" src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" alt="">
      <!--  <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true"></i> -->
    </a>
    <div class="whatsapp-msg-container">
        <div class="whatsapp-msg-header">
                  <h6 style="color: #fff">
</h6>
        </div>
        <div class="whatsapp-msg-body">
            <textarea name="whatsapp-msg" class="whatsapp-msg-textarea" placeholder="¿En qué podemos ayudarte? "></textarea></textarea>
        </div>
        <div class="whatsapp-msg-footer">
            <button type="button" class="btn-whatsapp-send">Enviar</button>
        </div>
    </div>
</div>

</head>

<body>

	<script>
		function vaciar()
		{
			localStorage.clear()
			window.alert("Carrito vaciado correctamente")
			window.location.href="/"
		}
		function formatCurrency (locales, currency, fractionDigits, number) {
			var formatted = new Intl.NumberFormat(locales, {
			  style: 'currency',
			  currency: currency,
			  minimumFractionDigits: fractionDigits
			}).format(number);
			return formatted;
		  }
	</script>

	<div id="page">

	<header class="version_2">
		<div class="layer"></div><!-- Mobile menu overlay mask -->
		<div class="main_header">
			<div class="container">
				<div class="row small-gutters">
					<div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
						<div id="logo">
							<a href="/"><img src="{{ assetsUrl('img/logo.png') }}" alt="" width="190" height="79"></a>
						</div>
					</div>
					<nav class="col-xl-9 col-lg-9">
						<a class="open_close" href="javascript:void(0);">
							<div class="hamburger hamburger--spin">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
						</a>
						<!-- Mobile menu button -->
						<div class="main-menu">
							<div id="header_menu">
								<a href="index.html"><img src="{{ assetsUrl('img/logo.png') }}" alt="" width="100" height="35"></a>
								<a href="#" class="open_close" id="close_in">	<i class="ti-close"></i></a>
							</div>
							<ul>
								<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega">Hombres</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
                      <div class="col-lg-2">
												<ul>
													<li><a href="#">Conjuntos Casuales</a></li>
													<li><a href="#">Buzos</a></li>
													<li><a href="#">Esqueletos</a></li>
													<li><a href="#">Camisetas</a></li>
													<li><a href="#">Joggers</a></li>
                          <li><a href="#">Pantalones</a></li>

												</ul>
											</div>
										</div>
										<!-- /row -->
									</div>
									<!-- /menu-wrapper -->
								</li>
									<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega">Mujeres</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
											<div class="col-lg-2">
												<ul>
													<li><a href="#">Licras</a></li>
													<li><a href="#">Enterizos</a></li>
													<li><a href="#">Mini Enterizos</a></li>
													<li><a href="#">Mini Shorts</a></li>
													<li><a href="#">Top</a></li>
												</ul>
											</div>
                      <div class="col-lg-2">

                        <ul>
												  <li><a href="#"> Conjuntos Casuales</a></li>
													<li><a href="#">Buzos</a></li>
													<li><a href="#">Esqueletos</a></li>
													<li><a href="#">camisetas</a></li>
                          <li><a href="#">Joggers</a></li>
                          <li><a href="#"> Pantalones</a></li>
												</ul>
											</div>
										</div>
										<!-- /row -->
									</div>
						</div>
						<!--/main-menu -->
					</nav>

				</div>
				<!-- /row -->
			</div>
		</div>
		<!-- /main_header -->

		<div class="main_nav Sticky">
			<div class="container">
				<div class="row small-gutters">

					<div class="col-xl-7 col-lg-7 col-md-6 d-none d-md-block">
						<div class="custom-search-input">
							<form method="GET" action="/search">
								<input type="text" name="name" placeholder="¿Qué estás buscando?">
								<button type="submit"><i class="header-icon_search_custom"></i></button>
							</form>
						</div>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-3">
						<ul class="top_tools">
							<li>
								<div class="dropdown dropdown-cart">
									<a href="/cart" class=""><img src="/img/icon_cart.svg" width="30px" height="30px" alt=""></a>

									<div class="dropdown-menu">
										<div class="total_drop">
											<a href="/cart" class="btn_1 outline">Ver Carrito</a>
										</div>
									</div>
								</div>
								<!-- /dropdown-cart-->
							</li>
							<li>

							</li>
							<li>

								<!-- /dropdown-access-->
							</li>
							<li>
								<a href="javascript:void(0);" class="btn_search_mob"><span>Buscar</span></a>
							</li>

						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<div class="search_mob_wp">
				<form method="GET" action="/search">
					<input type="text" name="name" class="form-control" placeholder="¿Qué estás buscando?">
					<input type="submit" class="btn_1 full-width" value="Buscar">
				</form>
			</div>
			<!-- /search_mobile -->
		</div>
		<!-- /main_nav -->
	</header>
	<!-- /header -->
    @section('main')

    @endsection

	<footer class="revealed">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
          <h3 data-target="#collapse_1">Siguenos</h3>
          <div class="collapse dont-collapse-sm sigue" id="collapse_1">
					<div class="follow_us">
            <ul>
              <li><a href="#"><img src="{{ assetsUrl('img/facebook_icon.svg') }}" alt="" class="lazy"></a></li>
              <li><a href="#"><img src="{{ assetsUrl('img/instagram_icon.svg') }}" alt="" class="lazy"></a></li>
            </ul>
          </div>
        </div>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3 data-target="#collapse_2">Nosotros</h3>
					<div class="collapse dont-collapse-sm links" id="collapse_2">
						<ul>
							<li><a target="_blank" href="">Políticas y términos de uso</a></li>
							<li><a target="_blank" href="">Política de Tratamiento de Datos</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<h3 data-target="#collapse_3">Contácto</h3>
					<div class="collapse dont-collapse-sm contacts" id="collapse_3">
						<ul>

							<li><i class="ti-headphone-alt"></i>+57 311 872 0689</li>
							<li><i class="ti-email"></i><a href="#">Comercial@boutiqueathenea.co</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<h3 data-target="#collapse_4">Suscríbete para recibir promociones</h3>
					<div class="collapse dont-collapse-sm" id="collapse_4">
						<div id="newsletter">
						    <div class="form-group">
						        <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Ingresa tu correo">
						        <button type="submit" id="submit-newsletter"><i class="ti-angle-double-right"></i></button>
						    </div>
						</div>

					</div>
				</div>
			</div>
			<!-- /row-->
			<hr>
			<div class="row add_bottom_25">
				<div class="col-lg-6">
					<ul class="footer-selector clearfix">

						<li><img src="img/cards_all.svg" alt="" width="198" height="30" class="lazy"></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul class="additional_links">
						<li><span><a target="_blank" href="https://iddominio.com/">DESARROLLADO POR IDDOMINIO © 2020 Copyright</a></span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->

	<div id="toTop"></div><!-- Back to top button -->
	@section('extra')

    @endsection

	<!-- COMMON SCRIPTS -->
	{{ script('js/common_scripts.min.js') }}
	{{ script('js/main.js') }}
  {{ script('js/carousel-home.js') }}
  {{ script('js/whatsapp.js') }}


</body>
</html>
